/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Calibri, Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  color: #000;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

video{
  display: block;
  width: 100%;
}

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Calibri, Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container{
  width: 100%;
  max-width: 1625px;
}
.btn{
  display: block;
  max-width: 255px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #226abf;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    2px 2px 9px 0px rgba(0, 0, 0, 0.25);
box-shadow:         2px 2px 9px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover{
  background-color: #031e2c;
}

img{
  display: block;
  max-width: 100%;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

  @font-face {
    font-family:'Trench';
      src: url('../fonts/Trench Medium.eot');
      src: url('../fonts/Trench Medium.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Trench Medium.woff2') format('woff2'),
           url('../fonts/Trench Medium.woff') format('woff'),
           url('../fonts/Trench Medium.otf') format('opentype'),
           url('../fonts/Trench Medium.svg#Trench Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1; 
  position: relative;
  padding-top: 60px;
}
.header-menu{
  height: 61px;
  background-color: #031e2c;
}
.header-menu.isStuck{
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
body.menu-stuck{
  padding-top: 61px;
}
.header-menu-logo{
  float: left;
  padding-top: 10px;
}
.header-menu-list{
  float: right;
  list-style: none;
}
.header-menu-list__item{
  float: left;
  margin-left: 115px;
}
.header-menu-list__item:first-child{
  margin-left: 0px;
}
.header-menu-list__link{
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 61px;
}
.header-menu-list__link:hover{
  color: #226abf;
}
.header-menu-list__link.active{
  color: #226abf;
}
.mobile-menu-btn{
  display: none;
}
.ticker-wrapper{
  overflow: hidden;
  margin-bottom: 60px;
  border-top: 1px solid #8d9db9;
}
.ticker{
  position: fixed;
  padding-right: 268px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #031e2c;
  z-index: 1;
}
.ticker-img{
  position: absolute;
  height: 60px;
  top: 0px;
  right: 0px;
  width: 268px;
  -webkit-box-shadow: -10px 0px 29px -12px rgba(255, 255, 255, 0.75);
  -moz-box-shadow:    -10px 0px 29px -12px rgba(255, 255, 255, 0.75);
  box-shadow:         -10px 0px 29px -12px rgba(255, 255, 255, 0.75);
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #031e2c;
  display: block;
}
.ticker-img img{
  margin: 0 auto;
}
.ticker-list{
  height: 60px;
  overflow: hidden;
  font-family:'Calibri'!important;
  font-weight: normal!important;
  list-style: none;
}
.webticker-init{
  width: 1px!important;
}
.ticker-spacer{
  display: none;
}
.ticker-list__item{
  padding-right: 40px;
  float: left;
  height: 60px;
}
.ticker-list__item-text{
  line-height: 60px;
  font-size: 24px;
  color: #b2b2b2;
  max-width: 100%;
  white-space: nowrap;
}
.ticker-list__item-text sup{
    font-size: 15px;
    position: relative;
    top: -11px;
    vertical-align: baseline;
}
.ticker-list__item-text sup.minus{
  color: #f94848;
}
.ticker-list__item-text sup.plus{
  color: #03b4b4;
}
.tickercontainer{
  height: 60px!important;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3; 
}
.footer-top{
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: #031e2c;
}
.footer-menu{
  float: right;
  width: 22.5%;
  padding-top: 10px;
  padding-left: 100px;
}
.footer-menu-title{
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.footer-menu-wrap{
  overflow: hidden;
}
.footer-menu-list{
  width: 100%;
  list-style: none;
}
.footer-menu-list:last-child{
  margin-top: 3px;
}
.footer-menu-list__item{
  margin-bottom: 3px;
  padding-left: 15px;
}
.footer-menu-list__item:last-child{
  margin-bottom: 0px;
}
.footer-menu-list__link{
  font-size: 18px;
  color: #fff;
  font-family: "Trench", sans-serif;
}
.footer-menu-list__link:hover{
  text-decoration: underline;
}
.footer-partners{
  float: right;
  width: 45.5%;
  padding-top: 10px;
}
.footer-partners-title{
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-partners-list{
  margin-bottom: -15px;
  padding-top: 10px;
}
.footer-partners-list__item{
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  margin-right: -4px;
  margin-bottom: 15px;
}
.footer-partners-list__item a[href="#"]{
  cursor: default;
  pointer-events: none;
}
.footer-partners-list__item.ehesive a{
  margin-left: 19px;
}
.footer-partners-list__item a{
  display: inline-block;
}
.footer-partners-list__item:nth-child(3){
  margin-right: 4px;
  width: 33.333%;
} 
.footer-scl{
  width: 27%;
  float: left;
  padding-top: 10px;
}
.footer-scl-title{
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.contact{
  overflow: hidden;
  margin-bottom: 14px;
}
.contact-txt{
  font-size: 21px;
  color: #5fc8ff;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contact-input{
  display: block;
  width: 100%;
  box-shadow: none;
  background-color: #f4f4f4;
  height: 53px;
  border-radius: 3px;
  border: 0px;
  padding: 0px 25px;
  font-size: 18px;
}
.contact-sbscrb{
  padding-right: 46px;
  position: relative;
  max-width: 270px;
}
.contact-sbscrb-input{
  display: block;
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #acacac;
  background-color: #fcfcfc;
  border: 0px;
  padding: 0px 15px;
}
.contact-sbscrb-input.error{
  border: 1px solid red;
}
.contact-sbscrb-input.error::-webkit-input-placeholder {color:red;}
.contact-sbscrb-input.error::-moz-placeholder          {color:red;}
.contact-sbscrb-input.error:-moz-placeholder           {color:red;}
.contact-sbscrb-input.error:-ms-input-placeholder      {color:red;}

.contact-sbscrb-btn{
  width: 46px;
  height: 44px;
  background-color: #717171;
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  background-color: #717171;
}
.contact-sbscrb-btn:hover{
  opacity: 0.8;
}
.contact-sbscrb-btn:before{
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  background-image: url('../img/sprite.png');
  background-position: 0px -321px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -14px;
}
.scl-title{
  font-weight: bold;
  color: #5fc8ff;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
}
.scl-list{
  display: inline-block;
  vertical-align: middle;
}
.scl-list-link{
  width: 34px;
  height: 34px;
  margin-left: 2px;
  background-image: url('../img/sprite.png');
  background-position: 0px -280px;
  background-repeat: no-repeat;
  display: inline-block;
}
.scl-list-link.fb{
  background-position: -61px -280px;
}
.scl-list-link.in{
  background-position: -119px -280px;
}
.scl-list-link.tg{
  background-position: -159px -280px;
}
.scl-list-link:last-child{
  margin-right: 0px;
}
.scl-list-link:hover{
  opacity: 0.7;
}
.footer-bottom{
  padding: 20px 0px;
  padding-bottom: 18px;
  position: relative;
}
.footer-bottom-col{
  float: left;
}
.footer-bottom-col:last-child{
  float: right;
}
.footer-logo{
  float: left;
}
.copy{
  font-size: 18px;
  color: #0a213f;
  float: left;
  text-transform: uppercase;
  line-height: 24px;
  float: left;
  margin-left: 120px;
}
.footer-bottom-links{
  float: left;
  margin-right: 250px;
  padding-top: 2px;
}
.footer-bottom-link{
  font-size: 14px;
  text-transform: uppercase;
  color: #0a213f;
  line-height: 24px;
}
.footer-bottom-link:hover{
  text-decoration: underline;
}
.footer-bottom-links span{
  margin: 0px 2px;
  color: #0a213f;
  font-size: 18px;
}
.footer-sites{
  float: left;
}
.footer-sites-text{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  float: left;
  color: #0a213f;
  margin-right: 15px;
}
.sites-box{
  float: left;
  margin-top: -5px;
  position: relative;
}
.sites-box-current{
  display: block;
  height: 34px;
  min-width: 173px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  border: 1px solid #565f6a;
  color: #0a213f;
  line-height: 32px;
  border-radius: 8px;
  font-size: 18px;
}
.sites-box-current span{
  display: inline-block;
  padding-right: 25px;
  position: relative;
}
.sites-box-current span:before{
  content: '';
  display: block;
  width: 19px;
  height: 11px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0px;
  background-image: url('../img/dropdown-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.sites-box-dropdown{
  position: absolute;
  text-align: center;
  bottom: 100%;
  min-width: 100%;
  background-color: #fff;
  z-index: 1;
  padding: 6px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow:    0px -4px 8px 0px rgba(255, 255, 255, 0.4);
  box-shadow:         0px -4px 8px 0px rgba(255, 255, 255, 0.4);
  display: none;
  right: 0px;
}
.sites-box-link{
  display: block;
  font-size: 16px;
  color: #0a213f;
  padding: 6px;
}
.sites-box-link:hover{
  background-color: #0a213f;
  color: #fff;
}
.footer-bottom-message{
  display: none;
  width: 81px;
  height: 81px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: 15px;
  background-color: #5fc8ff;
  z-index: 1;
}
.footer-bottom-message:hover{
  opacity: 0.7;
}
.footer-bottom-message:before{
  content: '';
  display: block;
  width: 44px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -22px;
  background-image: url('../img/sprite.png');
  background-position: -296px -274px;
  background-repeat: no-repeat;
}







.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1740px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  position: relative; 
}

/* titles */
p {
  font-size: 20px;
  line-height: 36px;
  color: #000;
  font-weight: 400; 
}

h1 {
  font-size: 50px;
  color: #031e2c;
  font-family: "Trench", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  color: #000;
  font-family: "Trench", sans-serif;
  font-weight: 500; 
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-weight: 400; }


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.info{
  position: relative;
  overflow: hidden;
  padding: 130px 0px;
}
.info .wrapper{
  min-height: 620px;
  height: 1px;
}
.info:before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e2e3e3;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.info-circle-wrapper{
  float: left;
  width: 990px;
  position: relative;
}
.info-circle{
  margin: 0 auto;
  width: 617px;
  height: 620px;
  background-image: url('../img/info-circle-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
}
.info-circle:before{
  content: '';
  display: block;
  width: 1907px;
  height: 1230px;
  position: absolute;
  background-image: url('../img/info-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat; 
  top: -53.5%;
  left: -51.5%;
  z-index: -1;
}
.info-circle-item__icon{
  position: absolute;
}
.info-circle-item__icon-wrapper{
  width: 65px;
  height: 65px;
  border: 1px solid #2b424d;
  border-radius: 50%;
  position: relative;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  z-index: 1;
}
.info-circle-item__icon-wrapper:before{
  content: '';
  display: block;
  width: 73px;
  height: 73px;
  border: 1px dashed #2b424d;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}
.info-circle-item__icon-wrapper:after{
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('../img/sprite.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.info-circle-item.icomethod .info-circle-item__icon{
  top: -32px;
  left: 50%;
  margin-left: -32px;
}
.info-circle-item.icomethod .info-circle-item__icon-wrapper:after{
  width: 40px;
  height: 42px;
  margin-top: -21px;
  margin-left: -20px;
}
.info-circle-item.tech .info-circle-item__icon{
  right: -32px;
  top: 50%;
  margin-top: -50px;
}
.info-circle-item.tech .info-circle-item__icon-wrapper:after{
  width: 44px;
  height: 47px;
  margin-top: -23px;
  margin-left: -22px;
  background-position: -48px 0px;
}
.info-circle-item.about .info-circle-item__icon{
  bottom: -32px;
  left: 50%;
  margin-left: -32px;
}
.info-circle-item.about .info-circle-item__icon-wrapper:after{
  width: 36px;
  height: 33px;
  margin-top: -16px;
  margin-left: -18px;
  background-position: -104px 0px;
}
.info-circle-item.ico .info-circle-item__icon{
  top: 50%;
  margin-top: -50px;
  left: -32px;
}
.info-circle-item.ico .info-circle-item__icon-wrapper:after{
  width: 54px;
  height: 33px;
  margin-top: -16px;
  margin-left: -27px;
  background-position: -152px 0px;
}
.info-circle-item__name{
  font-family: "Trench", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #031e2c;
  position: absolute;
  width: 300%;
  left: -100%;
  top: 80px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.info-circle-item:hover{
    cursor: pointer;
}
.info-circle-item.active .info-circle-item__name{
    visibility: visible;
    opacity: 1;
}
.info-circle-item.about .info-circle-item__name{
  top: auto;
  bottom: 80px;
}
.info-circle-item__img{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.info-circle-item.icomethod .info-circle-item__img{
  margin-left: -120px;
  margin-top: -125px;
}
.info-circle-item.tech .info-circle-item__img{
  margin-left: -118px;
  margin-top: -125px;
}
.info-circle-item.about .info-circle-item__img{
  margin-left: -110px;
  margin-top: -101px;
}
.info-circle-item.ico .info-circle-item__img{
  margin-left: -125px;
  margin-top: -75px;
}
.info-circle-item.active .info-circle-item__img{
  opacity: 1;
  visibility: visible;
}
.info-circle-item.active .info-circle-item__icon-wrapper{
  background-color: #031e2c;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
}
.info-circle-item.about.active .info-circle-item__icon-wrapper:after{
  background-position: -104px -49px;
}
.info-circle-item.icomethod.active .info-circle-item__icon-wrapper:after{
  background-position: 0px -49px;
}
.info-circle-item.tech.active .info-circle-item__icon-wrapper:after{
  background-position: -48px -52px;
}
.info-circle-item.ico.active .info-circle-item__icon-wrapper:after{
  background-position: -152px -48px;
}
.info-description-wrapper{
  float: right;
  width: calc(100% - 990px);
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.info-description{
  padding-top: 37px;
  padding-left: 28px;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
}
.info-description:before{
  content: '';
  display: block;
  width: 2000px;
  height: calc(100% - 15px);
  top: 0px;
  left: -50px;
  background: rgba(255,255,255,0.5);
  position: absolute;
  z-index: -1;
}
.info-description-item{
  position: absolute;
  opacity: 0;
  top: -150px;
  visibility: hidden;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -ms-transition: 0.3 all linear;
}
.info-description-item.active{
  display: block;
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 0px;
}
.info-description-btn{
  display: none;
}
.info-description-item.active .info-description-btn{
  display: block;
}
.info-description-item__text{
  margin-top: 10px;
  margin-bottom: 10px;
}
.questions{
  background-color: #031e2c;
  padding: 83px 0px;
  background-image: url('../img/questions-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.questions-video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.questions-holder{
  -webkit-box-shadow: 0px -2px 20px 3px rgba(24, 24, 24, 0.8);
-moz-box-shadow:    0px -2px 20px 3px rgba(24, 24, 24, 0.8);
box-shadow:         0px -2px 20px 3px rgba(24, 24, 24, 0.8);
  display: inline-block;
  width: 100%;
  position: relative;
}
.questions-holder:before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 2px;
  background-color: #ebebeb;
  margin-left: -90px;
  margin-top: -1px;
}
.question{
  float: left;
  width: 50%;
  text-align: center;
  background: rgba(255,255,255,0.8);
  padding: 65px 0px;
  padding-top: 75px;
}
.question br{
  display: none;
}
.question_left{
  background: rgba(34,106,191,0.8);
}
.question_left h2{
  color: #fff;
}
.question_left .btn{
  background-color: #fff;
  color: #0e2835;
}
.question .btn{
  margin: 0 auto;
  margin-top: 30px;
}
.question_left .btn:hover{
  background-color: #031e2c;
  color: #fff;
}
.services{
  background-color: #e7e8e8;
  padding-top: 89px;
  padding-bottom: 110px;
  background-image: url('../img/services-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.services-list__item{
  width: 25%;
  float: left;
  padding: 0px 24px;
  text-align: center;
}
.services-list__item-icon{
  position: relative;
  width: 139px;
  height: 139px;
  border: 1px dashed #076abf;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 22px;
}
.services-list__item-icon:before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}
.services-list__item-icon.strategy:before{
  width: 69px;
  height: 71px;
  margin-top: -35px;
  margin-left: -35px;
  background-position: 0px -104px;
}
.services-list__item-icon.marketing:before{
  width: 64px;
  height: 72px;
  margin-left: -32px;
  margin-top: -36px;
  background-position: -76px -104px;
}
.services-list__item-icon.development:before{
  width: 62px;
  height: 74px;
  margin-left: -31px;
  margin-top: -37px;
  background-position: -151px -104px;
}
.services-list__item-icon.design:before{
  width: 66px;
  height: 72px;
  margin-left: -33px;
  margin-top: -36px;
  background-position: -224px -104px;
}
.services-list__item h2{
  color: #031e2c;
}
.services-list__item-text{
  color: #031e2c;
  margin-top: 8px;
}
.carousel{
  padding: 80px 0px;
  overflow: hidden;
}
.carousel .wrapper{
  max-width: 1920px;
}
.carousel-holder{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}
.carousel-left{
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-left: 40px;
  padding-right: 85px;
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
}
.carousel-right{
  width: 1021px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  padding-left: 29px;
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  position: relative;
}
.carousel h2{
  font-size: 50px;
  color: #076abf;
  padding-left: 189px;
  position: relative;
  line-height: 52px;
}
.carousel h2:before{
  content: '';
  display: block;
  width: 152px;
  height: 121px;
  background-image: url('../img/quotes.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: -29px;
  left: 0px;
}
.carousel-text{
  padding-left: 75px;
  padding-right: 115px;
  margin-top: 15px;
}
.carousel-author{
  display: block;
  padding-left: 123px;
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 13px;
}
.carousel-author:before{
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #076abf;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 75px;
}
.team-slider-btns{
  padding-left: 75px;
}
.team.carousel .carousel-list__item-img{
  display: block;
  position: relative;
  overflow: hidden;
}
.carousel-list__item-bio{
  position: absolute;
  bottom: -90px;
  left: 0px;
  width: 100%;
  text-align: right;
  height: 88px;
  line-height: 88px;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  background: rgba(255,255,255,0.4);
  padding-right: 68px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
}
.team .carousel-list__item:hover .carousel-list__item-bio{
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}
.slick-arrow{
  width: 40px;
  height: 146px;
  background-color: transparent;
  border: 0px;
  text-indent: -9999px;
  position: absolute;
  padding: 0px;
  top: 50%;
  left: 29px;
  margin-top: -73px;
  background-image: url('../img/sprite.png');
  background-position: -291px -2px;
  background-repeat: no-repeat;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
.slick-next.slick-arrow{
  left: auto;
  right: 0px;
  background-position: -329px -2px;
}
.slick-arrow:hover{
  opacity: 0.7;
}
.carousel-list{
  margin-left: -40px;
}
.slick-list{
  padding-bottom: 45px;
  margin-bottom: -45px;
}
.carousel-list__item{
  padding-left: 40px;
  position: relative;
  margin-right: 2px;
}
.carousel-list__item-info{
  position: absolute;
  width: 275px;
  height: 164px;
  background-color: #226abf;
  display: table;
  bottom: 0px;
  left: 15px;
  bottom: -39px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.35);
}
.carousel-list__item-info-wrapper{
  display: table-cell;
  padding: 0px 28px;
  vertical-align: middle;
}
.carousel-list__item-info-name{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.carousel-list__item-info-position{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.companies{
  background-color: #031e2c;
  background-image: url(../img/questions-bg.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 35px;
}
.companies h2{
  font-size: 50px;
  color: #fff;
  text-align: center;
}
.company-list{
  text-align: justify;
  margin-top: 15px;
}
.company-list:after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
}
.company-list__item{
  display: inline-block;
  vertical-align: middle;
}
.providers{
  background-image: url('../img/providers-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0px;
}
.providers .carousel-right{
  padding-left: 0px;
  padding-right: 29px;
}
.providers .carousel-list__item{
  height: 610px;
  padding-left: 0px;
  padding-right: 40px;
  margin-left: 2px;
  margin-right: 2px;
}
.providers .carousel-list{
  margin-left: 0px;
  margin-right: -40px;
}
.carousel-list__item-wrap{
  position: relative;
}
.carousel-list__item-content{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.carousel-list__item-content-wrapper{
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  padding: 0px 25px;
}

.providers .carousel-list__item-img{
  margin-bottom: 20px;
}
.providers .carousel-list__item-img{
  height: 70px;
}
.providers .carousel-list__item-img img{
  max-height: 100%;
  margin: 0 auto;
}
.carousel-list__item-content-text{
  height: 216px;
}
.providers .carousel-list__item-info{
  left: auto;
  right: 15px;
}
.providers .carousel-list__item-info:before{
  content: '';
  display: block;
  width: 40px;
  height: 39px;
  right: 15px;
  bottom: 15px;
  background-image: url('../img/sprite.png');
  background-position: -330px -311px;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
}
.providers .carousel-list__item-info:hover:before{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
}
.providers h2{
  color: #102937;
}
.providers.carousel h2:before{
  background-image: url('../img/quotes-1.png');
}
.providers .carousel-list__item-info-name{
  margin-bottom: 0px;
}
.providers .carousel-author{
  padding-left: 48px;
}
.providers .carousel-author:before{
  left: 0px;
}
.provider-slider-btns .slick-arrow{
  left: 0px;
}
.provider-slider-btns .slick-arrow.slick-next{
  right: 29px;
  left: auto;
}
.provider-slider-btns button{
  display: inline-block;
}
.providers .carousel-list .btn{
  margin: 0 auto;
  margin-top: 15px;
}
.providers .carousel-list__item-info{
  display: block;
  height: 122px;
  line-height: 122px;
  padding-left: 35px;
  padding-right: 10px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.partners{
  padding-top: 45px;
  padding-bottom: 45px;
}
.partners .tickercontainer{
  height: auto!important;
}
.partners h2{
  text-align: center;
  font-size: 50px;
}
.partners .wrapper{
  padding: 0px;
  max-width: 100%;
}
.partner-list{
  margin-top: 25px!important;
  list-style: none;
}
.partner-list__item{
  display: inline-block;
  vertical-align: middle;
  float: none!important;
  padding: 0px 45px!important;
}
.partner-list__item img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.partner-list__item img:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
.webticker-init{
  width: 20px!important;
}
.experts{
  position: relative;
}
.experts:before{
  display: block;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../img/experts-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.experts .carousel-left{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-self: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.experts .carousel-left:before{
  content: '';
  display: block;
  width: 2000px;
  height: 100%;
  position: absolute;
  background-color: #e6e8ea;
  top: 0px;
  right: 50px;
  z-index: -1;
}
.experts .carousel-left .carousel-left-wrapper{
  align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
}
.experts .carousel-list__item-info-name{
  margin-bottom: 0px;
}
a.carousel-list__item-wrapper{
  display: block;
  position: relative;
}
.experts .carousel-list__item-img{
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
} 
.experts .carousel-list__item-img:hover{
  opacity: 0.7;
}
.experts .carousel-list__item-info-wrapper{
  position: relative;
}
.experts .carousel-list__item-info-wrapper:after{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../img/play-icon_white.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
}
.experts .carousel-list__item-info-wrapper:hover:after{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
.relation{
  padding: 88px 0px;
  background-image: url('../img/relation-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.relation-list{
  -webkit-box-shadow: 0px 0px 21px 0px rgba(24, 24, 24, 0.3);
  -moz-box-shadow:    0px 0px 21px 0px rgba(24, 24, 24, 0.3);
  box-shadow:         0px 0px 21px 0px rgba(24, 24, 24, 0.3);
  padding-top: 38px;
  padding-bottom: 45px;
}
.relation-list h2{
  font-size: 50px;
  color: #031e2c;
  line-height: 48px;
}
.relation-list__item{
  display: inline-block;
  margin-right: -4px;
  width: 33.3333%;
  text-align: center;
  vertical-align: middle;
  padding: 0px 100px;
}
.relation-list__item .btn{
  margin: 0 auto;
}
.relation-list__item-img{
  height: 95px;
  margin-bottom: 20px;
}
.relation-list__item-img img{
  margin: 0 auto;
  max-height: 100%;
}
.relation-list__item-text{
  text-align: justify;
  line-height: 31px;
  margin-bottom: 20px;
  height: 248px;
  overflow: hidden;
}
.relation-list__item.full .relation-list__item-text{
  height: auto;
}
.relation-list__item.full .btn{
  display: none;
}
.relation-list__item-link{
  font-size: 20px;
  color: #0a213f;
  text-decoration: underline;
  text-transform: uppercase;
  display: none;
}
.relation-list__item.full .relation-list__item-link{
  display: inline;
}
.menu-close{
  display: none;
}
.copy br{
  display: none;
}
.popup-videos-item{
  transition: 0.8s all linear;
  top: -100%;
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: -2000px;
  left: 0px;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
}
.popup-videos-item.active{
  top: 0px;
  left: 0px;
  padding: 0px 200px;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.popup-videos-item-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.popup-videos-item-wrapper video{
  height: 60%;
  margin: 0 auto;
}
.video-close{
  position: absolute;
  top: -25px;
  right: -25px;
  width: 25px;
  height: 25px;
}
.video-close span{
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.video-close span:last-child{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  left: auto;
  right: 0px;
}
.popup-video{
  position: relative;
}

/*===about page===*/
.header-image{
  position: relative;
}
.header-image h1{
  text-align: center;
  color: #fff;
  font-size: 150px; 
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.about-header{
  padding-top: 0px;
}
.content-about-top{
  padding: 60px 110px;
}
.content-about-top h2{
  text-align: center;
  color: #031e2c;
}
.content-about-top h3{
  text-align: center;
  font-size: 25px;
  padding: 0px;
  color: #031e2c;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0px 50px;
  margin: 40px 0px;
}
.content-about-wrapper{
  overflow: hidden;
}
.content-about-top-left{
  float: left;
  width: 100%;
  margin-right: -300px;
  padding-right: 450px;
}
.content-about-top-right{
  float: left;
  width: 300px;
  padding-top: 7px;
}
.content-about-managing-title{
  font-size: 20px;
  color: #031e2c;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.content-about-managing-list{
  position: relative;
  list-style: none;
  padding: 10px 0px;
}
.content-about-managing-list:before{
  content: '';
  display: block;
  width: 1px;
  background-color: #959595;
  position: absolute;
  top: 0px;
  left: 4px;
  height: 100%;
}
.content-about-managing-list li{
  position: relative;
  padding-left: 43px;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.content-about-managing-list li:before{
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-color: #959595;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -3px;
}
.content-about-managing-list li:last-child{
  margin-bottom: 0px;
}
.content-about-bottom{
  padding: 85px 0px;
  background-image: url('../img/about-bottom-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-about-info__item{
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
  position: relative;
  padding-left: 300px;
  padding-right: 80px;
}
.content-about-info__item:last-child{
  margin-bottom: 0px;
}
.content-about-info__item-img{
  position: absolute;
  display: block;
  width: 65px;
  height: 65px;
  border: 1px solid #07222f;
  border-radius: 50%;
  top: 50%;
  margin-top: -32px;
  left: 120px;
}
.content-about-info__item-img:before{
  content: '';
  display: block;
  position: absolute;
  width: 73px;
  height: 73px;
  top: -5px;
  left: -5px;
  border: 1px dashed #07222f;
  border-radius: 50%;
}
.content-about-info__item-img:after{
  content: '';
  display: block;
  width: 36px;
  height: 33px;
  background-image: url('../img/sprite.png');
  background-position: -104px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -18px;
}
.content-about-info__item h2{
  color: #031e2c;
  margin-bottom: 23px;
}
.content-about-info__item.ico .content-about-info__item-img:after{
  width: 54px;
  height: 33px;
  margin-top: -16px;
  margin-left: -27px;
  background-position: -152px 0px;
}
.content-about-info__item.icomethod .content-about-info__item-img:after{
  width: 40px;
  height: 42px;
  margin-top: -21px;
  margin-left: -20px;
  background-position: 0px 0px;
}
.content-about-info__item.tech .content-about-info__item-img:after{
  width: 44px;
  height: 47px;
  margin-top: -23px;
  margin-left: -22px;
  background-position: -48px 0px;
}
.team-list__item{
  background-image: url('../img/team-member-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.team-list__item .wrapper{
  padding: 65px 15px;
}
.team-list__item-about{
  width: 61%;
  float: left;
}
.team-list__item-image{
  position: absolute;
  bottom: 0px;
  left: 63%;
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.team-list__item-image img{
  max-height: 90%;
  margin: 0 auto;
}
.team-list__item-name{
  display: inline-block;
  width: 100%;
}
.team-list__item-name-txt{
  font-size: 40px;
  font-family: "Trench", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #031e2c;
  float: left;
  display: block;
}
.team-list__item-link{
  float: left;
  position: relative;
  top: -5px;
  width: 42px;
  height: 42px;
  background-image: url('../img/sprite.png');
  background-position: -280px -192px;
  background-repeat: no-repeat;
  margin-left: 23px;
}
.team-list__item-link.no{
  background-position: -328px -192px;
  cursor: default;
  pointer-events: none;
}
.team-list__item-link:hover{
  opacity: 0.7;
}
.team-list__item-link.no:hover{
  opacity: 1;
}
.team-list__item-position{
  font-size: 25px;
  color: #031e2c;
  text-transform: uppercase;
  line-height: 25px;
  display: block;
}
.team-list__item-text{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.5);
  padding: 18px 0px;
  padding-left: 40px;
  padding-right: 95px;
  margin-left: -40px;
  color: #031e2c;
  text-align: justify;
}
.team-list__item:nth-child(2n){
  background-image: url('../img/team-member-bg-1.png');
}
.team-list__item:nth-child(2n) .team-list__item-about{
  float: right;
}
.team-list__item:nth-child(2n) .team-list__item-text{
  color: #fff;
  padding-right: 40px;
  padding-left: 95px;
  margin-left: 0px;
  margin-right: -40px;
  background-color: rgba(3,30,44,0.5);
}
.team-list__item:nth-child(2n) .team-list__item-name-txt{
  float: right;
  color: #fff;
}
.team-list__item:nth-child(2n) .team-list__item-link{
  float: right;
  margin-left: 0px;
  margin-right: 24px;
}
.team-list__item:nth-child(2n) .team-list__item-position{
  color: #fff;
  text-align: right;
}
.team-list__item:nth-child(2n) .team-list__item-image{
  left: auto;
  right: 63%;
}

/*=== popups ====*/
.popup{
  position: absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
}
.fancybox-wrap {
    width: 1400px!important;
    max-width: 90%;
}
.fancybox-skin{
  /*background-color: #fff;
  position: fixed!important;
  height: 60%!important;
  top: 20%!important;
  overflow: hidden;
  padding-top: 90px!important;
  padding-bottom: 90px!important;
  padding-right: 15px!important;
  width: 70%!important;
  left: 15%;
  border: 1px solid #93938f;
  background-image: url('../img/popup-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;*/
  box-shadow: none;
  background-color: #fff;
  padding: 0px!important;
  padding-bottom: 30px!important;
}
.fancybox-inner{
  width: 100%!important;
}
.fancybox-overlay{
  background: rgba(0,0,0,0.8);
}
.fancybox-close{
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
}
.fancybox-item.fancybox-close:before,
.fancybox-item.fancybox-close:after{
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: #333333;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.fancybox-item.fancybox-close:after{
  left: auto;
  right: 0px;
  border-radius: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.window-open{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}
.window-open-logo{
  margin-bottom: 5px;
}
.window-open h2{
  color: #0d2734;
}
.box-form form{
  padding-top: 20px;
}
.box-form-col{
  width: 50%;
  float: left;
  padding-right: 30px;
}
.box-form-col_right{
  padding-left: 30px;
  padding-right: 0px;
}
.window-open .form-control{
  width: 100%;
  height: 61px;
  background-color: #f4f5f6;
  border: 2px solid #f0efef;
  font-size: 20px;
  color: #707070;
  padding: 0px 45px;
}
.form-control-select{
  -webkit-appearance: none;
}
.window-open .box-field{
  margin-bottom: 15px;
  position: relative;
}
.window-open .box-field:before{
  content: '';
  display: block;
  position: absolute;
  top: 19px;
  left: 13px;
  background-image: url('../img/sprite.png');
  background-position: 0px -248px;
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
}
.window-open .box-field_email:before{
  background-position: -32px -248px;
  width: 25px;
  height: 16px;
  top: 23px;
}
.window-open .box-field_company:before{
  background-position: -61px -248px;
  width: 33px;
  height: 26px;
  top: 19px;
  left: 9px;
}
.window-open .box-field_telegram:before{
  background-position: -97px -248px;
  width: 20px;
  height: 17px;
  top: 25px;
  left: 13px;
}
.window-open .box-field_url:before{
  background-position: -120px -248px;
  width: 26px;
  height: 26px;
  top: 18px;
  left: 13px;
}
.window-open .box-field_industry:before{
  background-position: -152px -248px;
  width: 20px;
  height: 20px;
  top: 21px;
  left: 13px;
}
.window-open .box-field_phone:before{
  background-position: -200px -248px;
  width: 15px;
  height: 26px;
  top: 19px;
  left: 13px;
}
.window-open .box-field_iconame:before{
  background-position: -224px -248px;
  width: 25px;
  height: 26px;
  top: 19px;
  left: 11px;
}
.window-open .box-field_country:before{
  width: 16px;
  height: 23px;
  background-position: -256px -248px;
  top: 19px;
  left: 17px;
}
.window-open .box-field_text:before{
  width: 18px;
  height: 24px;
  background-position: -176px -248px;
  top: 16px;
  left: 13px;
}
.box-field_text textarea.form-control{
  height: 137px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.window-open .box-field:last-child{
  margin-bottom: 0px;
}
.window-open .form-control option{
  padding-left: 10px;
}
.box-form-btns{
  text-align: center;
  padding-top: 60px;
}
.window-open .btn{
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  display: inline-block;
  width: 268px;
  height: 53px;
  font-size: 18px;
  border: 0px;
  box-shadow: none;
  line-height: 53px;
  max-width: 100%;
}
.btn_doc{
  background-color: #9a9b9b;
  max-width: 50%;
  float: left;
}
.box-form-txt{
  float: right;
  width: 50%;
  padding-left: 20px;
  font-size: 20px;
  color: #707070;
}
.btn_doc:hover{
  background-color: #9a9b9b;
  opacity: 0.7;
}
.box-form-title{
  font-size: 20px;
  color: #242424;
  text-transform: uppercase;
  display: block;
}
.radio-list{
  list-style: none;
  padding-top: 35px;
  margin-bottom: 85px;
}
.radio-list__item{
  margin-bottom: 30px;
}
.radio-list__item:last-child{
  margin-bottom: 0px;
}
.radio-list__label input[type="checkbox"]{
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio-list__label-text{
  position: relative;
  padding-left: 45px;
  font-size: 20px;
  color: #707070;
  cursor: pointer;
}
.radio-list__label-text:before{
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  background-color: #f6f7f8;
  border: 2px solid #f0eff0;
  left: 0px;
  top: 50%;
  margin-top: -14px;
  position: absolute;
}
.radio-list__label-text:after{
  content: '';
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #707070;
  top: 50%;
  margin-top: -9px;
  left: 5px;
  opacity: 0;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.radio-list__label input[type="checkbox"]:checked + .radio-list__label-text:after{
  opacity: 1;
}
.saas{
  text-transform: none;
}
.window-open-bio{
  padding-top: 20px;
}
.carousel-list__item-linkedin{
  display: block;
  position: absolute;
  width: 39px;
  height: 39px;
  background-image: url('../img/linkin-icon.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 2px;
  bottom: 6px;
  right: 6px;
}
.carousel-list__item-linkedin.no{
  background-image: url('../img/linkedin_grey.png');
  background-color: #6a6a6a;
  cursor: default;
  pointer-events: none;
}
.carousel-list__item-linkedin:hover{
  opacity: 0.8;
}
.about-header .header-menu.isStuck{
  top: 0px!important;
}
/* investors page */

.investors{
  padding-top: 24px;
}
.investors-nav{
  padding-bottom: 26px;
}
.sort-box{
  float: left;
  position: relative;
}
.sort-box-btn{
  display: block;
  /*width: 178px;*/
  height: 41px;
  border: 1px solid #989898;
  text-align: center;
  padding: 0px 17px;
}
.sort-box-btn span{
  display: inline-block;
  line-height: 39px;
  font-size: 18px;
  color: #031e2c;
  text-transform: uppercase;
  padding-right: 31px;
  position: relative;
}
.sort-box-btn span:before{
  content: '';
  display: block;
  width: 16px;
  height: 9px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0px;
  background-image: url('../img/sprite.png');
  background-position: -320px -248px;
  background-repeat: no-repeat;
}
.sort-box-dropdown{
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  display: none;
  z-index: 1;
}
.sort-box-dropdown-link{
  font-size: 16px;
  color: #031e2c;
  text-transform: uppercase;
  display: block;
  padding: 6px 0px;
  white-space: nowrap;
  padding-left: 17px;
}
.sort-box-dropdown-link:hover{
  background-color: #031e2c;
  color: #fff;
}
/*.search-box{
  float: right;
  padding: 2px 0px;
  padding-left: 63px;
  border: 1px solid #989898;
  width: 251px;
  position: relative;
}
.search-box-input{
  display: block;
  width: 100%;
  padding: 0px 15px;
  border: 0px;
  border-left: 1px solid #031e2c;
  height: 35px;
  font-size: 18px;
  color: #031e2c;
  text-transform: uppercase;
}
.search-box-input::-webkit-input-placeholder {color:#031e2c;}
.search-box-input::-moz-placeholder          {color:#031e2c;}
.search-box-input:-moz-placeholder           {color:#031e2c;}
.search-box-input:-ms-input-placeholder      {color:#031e2c;}
.search-box-btn{
  display: block;
  width: 28px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 17px;
  background-image: url('../img/sprite.png');
  background-position: -342px -248px;
  background-repeat: no-repeat;
}
.search-box-btn:hover{
  opacity: 0.7;
}*/
.investors-list-wrapper{
  -webkit-box-shadow: 0px 0px 9px 0px rgba(23, 23, 23, 0.4);
  -moz-box-shadow:    0px 0px 9px 0px rgba(23, 23, 23, 0.4);
  box-shadow:         0px 0px 9px 0px rgba(23, 23, 23, 0.4);
  padding: 40px 96px;
}
.investors-list{
  padding-bottom: 25px;
}
.investors-list__item{
  padding: 25px 0px;
  border-bottom: 1px solid #989898;
  overflow: hidden;
}
.investors-list__item-left{
  width: 140px;
  float: left;
  position: relative;
}
.investors-list__item-date{
  font-family: "Trench", sans-serif;
  font-weight: 500;
  font-size: 43px;
  text-align: center;
  border: 1px solid #989898;
  color: #031e2c;
  line-height: 38px;
  padding-top: 34px;
  padding-bottom: 26px;
  margin-bottom: 5px;
}
.investors-list__item-left-txt{
  font-size: 25px;
  text-align: center;
  color: #fff;
  background-color: #226abf;
  font-family: "Trench", sans-serif;
  font-weight: 500;
  line-height: 20px;
  padding-top: 9px;
  padding-bottom: 6px;
}
.investors-list__item-date span{
  font-size: 38px;
}
.investors-list__item-right{
  float: left;
  width: 100%;
  margin-left: -140px;
  padding-left: 225px;
}
.investors-list__item-name{
  display: block;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 38px;
  color: #031e2c;
  max-height: 76px;
  overflow: hidden;
  font-family: "Trench", sans-serif;
  font-weight: 500;
}
.investors-list__item-name:hover{
  /*text-decoration: underline;*/
  opacity: 0.4;
  transform: scale(1.002);
  -webkit-transform: scale(1.002);
  -moz-transform: scale(1.002);
  -o-transform: scale(1.002);
  -ms-transform: scale(1.002);
}
div.investors-list__item-name{
  max-height: none;
}
div.investors-list__item-name:hover{
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
.investors-list__item-author{
  font-size: 20px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin-bottom: 35px; 
}
.investors-list__item-text{
  position: relative;
  padding-right: 40px;
}
.investors-list__item-more{
  color: #000;
  font-size: 20px;
}
.investors-list__item-more a{
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
.investors-list__item-more a:hover{
  text-decoration: underline;
}
.investors-list__more{
  font-size: 25px;
  color: #031e2c;
  font-family: "Trench", sans-serif;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 333px;
  height: 41px;
  border: 1px solid #989898;
  line-height: 39px;
}
.investors-list__more:hover{
  background-color: #031e2c;
  color: #fff;
}
.investors-nav-btn{
  display: block;
  height: 41px;
  line-height: 39px;
  padding: 0px 17px;
  font-size: 18px;
  color: #031e2c;
  border: 1px solid #989898;
  float: left;
}
.investors-nav-btn:hover{
  opacity: 0.7;
}
.investors-nav-btn span{
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
.investors-nav-btn span:before{
  content: '';
  display: block;
  width: 9px;
  height: 16px;
  background-image: url('../img/sprite.png');
  background-position: -295px -248px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -8px;
}
.investors-nav-btn.next{
  float: right;
}
.investors-nav-btn.next span{
  padding-left: 0px;
  padding-right: 30px;
}
.investors-nav-btn.next span:before{
  left: auto;
  right: 0px;
  background-position: -308px -248px;
}
.investors_article .investors-list-wrapper{
  margin-bottom: 24px;
}
.investors_article .investors-list__item{
  border-bottom: 0px;
}
.investors_article .investors-list{
  padding-bottom: 0px;
}
.investors-list__item-text-wrapper{
  float: left;
  width: 100%;
  margin-top: 20px;
} 
.investors_article .investors-list__item-text{
  padding-right: 0px;
}
.investors_article .investors-list__item-left-txt{
  max-width: 204px;
  margin-bottom: 7px;
  margin-top: 4px;
}
.investors_article .investors-list__item-author{
  margin-bottom: 12px;
}
.investors-list__item-text-list{
  font-size: 20px;
  line-height: 36px;
  text-indent: 18px;
}
.investors-list__item-by{
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  display: none;
}
.investors-list__item-by a{
  font-size: 20px;
  color: #226abf;
  text-decoration: underline;
  text-transform: none;
  margin-left: 4px;
}
.investors-list__item-by a:hover{
  text-decoration: none;
}
.investors_article .investors-list-wrapper{
  position: relative;
}
.shr-box{
  position: absolute;
  top: 20px;
  right: 20px;
}
.share-box-icon{
  background-color: transparent;
  height: 39px;
  position: relative;
  display: block;
  width: 45px;
}
.share-box-icon:hover{
  opacity: 0.7;
}
.share-box-icon:before{
  content: '';
  display: block;
  width: 22px;
  height: 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -14px;
  background-image: url('../img/shr-icon.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.share-box-dropdown{
  display: none;
  position: absolute;
  top: 0px;
  right: 100%;
  height: 39px;
  border: 1px solid #226abf;
  border-right: 0px;
  padding: 0px 20px;
  white-space: nowrap;
  background-color: #fff;
}
.share-box-text{
  font-size: 17px;
  color: #226abf;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  line-height: 37px;
}
.share-box-text span{
  margin-left: 17px;
}
.share-box-links{
  display: inline-block;
  vertical-align: middle;
}
.share-box-link{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 16px;
  background-image: url('../img/sprite.png');
  background-position: -40px -334px;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.share-box-link.fb{
  width: 11px;
  height: 23px;
  background-position: -80px -327px
}
.share-box-link.tw{
  width: 23px;
  height: 17px;
  background-position: -97px -333px;
}
.shr-box.active .share-box-dropdown{
  display: block;
}
.shr-box.active .share-box-icon{
  background-color: #226abf;
}
.shr-box.active .share-box-icon:before{
  background-image: url('../img/shr-icon_white.png');
}
.window-open-text span{
  display: block;
  padding-left: 10px;
}
.window-open-text .window-open-text__subtitle {
    display: block;
    padding-left: 0px;
    margin: 10px 0px;
    font-weight: bold;
}
.window-open-text{
  padding-top: 20px;
}
.video-list-wrapper{
  padding-top: 20px!important;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 0px!important;
  padding-right: 30px;
  position: relative;
}
.main-video{
  padding-bottom: 0px;
  padding-left: 450px;
  position: relative;
  overflow: hidden;
}
.main-video-wrapper{
  position: relative;
  background-image: url('../img/inner-video-bg.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.main-video-wrapper:before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 138px;
  height: 138px;
  margin-top: -69px;
  margin-left: -69px;
  background-image: url('../img/play-icon_white-1.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.3s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  opacity: 1;
}
.main-video-wrapper.active:before{
  opacity: 0;
}
.main-video-wrapper:hover{
  opacity: 0.9;
}
.main-video-name{
  color: #031e2c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin-top: 2px;
}
.main-video-name-txt{
  font-weight: 400;
}
.main-video-list-wrapper{
  overflow-y: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  left: 0px;
  width: 450px;
  top: 20px;
  height: calc(100% - 40px);
}
.main-video:before,
.main-video:after{
  content: '';
  display: block;
  width: 420px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 15px;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 0px 25px 3px rgba(0, 0, 0, 1);
  box-shadow:         0px 0px 25px 3px rgba(0, 0, 0, 1);
  z-index: 1;
}
.main-video:after{
  top: auto;
  bottom: 0px;
}
.main-video-list__item{
  cursor: pointer;
  position: relative;
}
.main-video-list__item:before{
  display: block;
  content: '';
  width: 56px;
  height: 56px;
  margin-top: -28px;
  margin-left: -28px;
  background-image: url('../img/play-icon_white-1.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 42%;
  left: 52%;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
.main-video-list__item:hover:before{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.main-video-list__item-name{
  color: #031e2c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2px;
  padding-bottom: 10px;
}
.main-video-list__item-name-txt{
  font-weight: 400;
}
.main-video-list .slick-list{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.subscription-descr{
  color: green;
  font-size: 20px;
}
.carousel-text-link{
  display: block;
  overflow: hidden;
  padding-top: 20px;
}
.more-videos-btn{
  display: block;
  width: 266px;
  height: 38px;
  background-color: #226abf;
  line-height: 38px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 auto;
}
.more-videos-btn:hover{
  background-color: #031e2c;
}
.video-content .wrapper{
  max-width: 1840px;
}

/* update 10.08.18 */
.altcube-section{
  padding: 20px 0px;
}
.altcube-left{
  float: left;
  width: 50%;
}
.altcube-image{
  float: right;
}
.altcube-right{
  float: right;
  width: 50%;
  padding-left: 90px;
  padding-top: 100px;
}
.altcube-right h2{
  text-transform: none;
  color: #2366bd;
}
.altcube-text{
  font-size: 20px;
  line-height: 36px;
  color: #000;
  margin: 25px 0px;
}
.altcube-btn{
  position: relative;
  padding-left: 45px;
  display: inline-block;
  line-height: 32px;
  color: #2f68bf;
  font-weight: 700;
  font-size: 20px;
}
.altcube-btn:before{
  content: '';
  display: block;
  width: 29px;
  height: 32px;
  background-image: url('../img/sprite.png');
  background-position: -291px -317px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px; 
}
.whitepaper-block{
  padding: 30px 0px;
  background-image: url('../img/whitepaper-block-bg.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.whitepaper-block h2{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.whitepaper-block-left{
  float: left;
  width: 50%;
  padding-top: 90px;
  padding-right: 100px;
}
.whitepaper-block-image{
  float: right;
  position: relative;
}
.whitepaper-block-image img{
  position: relative;
  -webkit-box-shadow: 0px 4px 6px -2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 4px 6px -2px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 4px 6px -2px rgba(50, 50, 50, 0.4);
}
.whitepaper-block-image-abs{
  position: absolute!important;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -20px;
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform-origin: 50% 60%;
}
.whitepaper-block-image-abs-2{
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.whitepaper-block-right{
  float: left;
  width: 50%;
}
.whitepaper-block-right p,
.whitepaper-block-right h4{
  color: #fff;
}
.whitepaper-list{
  padding-top: 35px;
}
.whitepaper-list__item{
  margin-bottom: 40px;
  padding-left: 95px;
  position: relative;
}
.whitepaper-list__item h4{
  font-size: 30px;
  font-family: 'Trench';
  font-weight: 400;
}
.whitepaper-list__item p{
  font-size: 16px;
  line-height: 28px;
}
.whitepaper-list__item:before{
  content: '';
  display: block;
  width: 60px;
  height: 50px;
  background-image: url('../img/wp-icon-1.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.whitepaper-list__item.works:before{
  background-image: url('../img/wp-icon-2.png');
  width: 54px;
  height: 53px;
}
.whitepaper-list__item.token:before{
  background-image: url('../img/wp-icon-3.png');
  width: 56px;
  height: 50px;
}
.whitepaper-list__item:last-child{
  margin-bottom: 0px;
}
.whitepaper-btns{
  margin-top: 25px;
  display: inline-block;
  width: 100%;
}
.whitepaper-btns .btn{
  max-width: none;
  width: 409px;
  height: 57px;
  line-height: 54px;
  font-size: 16px;
  float: left;
  margin: 0px;
  background-image: url('../img/wp-btn-bg.png');
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: transparent;
  color: #14375b;
  font-weight: 700;
}
.whitepaper-btns .btn_wp{
  padding: 0px;
  padding-left: 30px;
  height: 60px;
  line-height: 63px;
  float: right;
  background-image: url('../img/btn-bg_wp-1.png');
  top: -4px;
  text-align: left;
}


/*  media  */
@media only screen and (max-width: 1750px){
  .footer-sites{
    margin-right: 70px;
  }
  .copy{
    margin-left: 20px;
  }
  .carousel-list__item-linkedin{
    width: 28px;
    height: 28px;
    bottom: 3px;
    right: 3px;
  }
  .fancybox-skin{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
  .box-form-btns{
    padding-top: 30px;
  }
  .window-open{
    padding-right: 50px;
    padding-left: 50px;
  }
  .team-list__item .wrapper{
    padding: 65px 55px;
  }
  .team-list__item-text{
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-list__item:nth-child(2n) .team-list__item-text{
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .info-description:before{
    left: -15px;
  }
  .info-circle-wrapper{
    width: 800px;
  }
  .info-description-wrapper{
    width: calc(100% - 800px);
  }
  .carousel-left{
    padding-left: 0px;
    padding-right: 15px;
  }
  .providers .carousel-left{
    padding-right: 0px;
    padding-left: 15px;
  }
  .carousel-text{
    padding-left: 0px;
    padding-right: 15px;
  }
  .carousel-author{
    padding-left: 48px;
  }
  .carousel-author:before{
    left: 0px;
  }
  .team-slider-btns{
    padding-left: 0px;
  }
  .experts-slider-btns{
    padding-left: 0px;
  }
  .provider-slider-btns{
    padding-right: 0px;
  }
  .experts .carousel-left:before{
    right: 15px;
  }
  .carousel h2{
    font-size: 40px;
    padding-left: 140px;
  }
  .carousel h2:before{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    top: -19px;
    left: -15px;
  }
  .questions{
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 1519px){
  .main-video{
    padding-left: 450px;
  }
  .main-video-list-wrapper{
    padding-left: 25px;
    padding-right: 25px;
    height: calc(100% - 45px);
  }
  .providers .carousel-list__item-info:before{
    right: 5px;
    bottom: 5px;
  }
  .experts .carousel-list__item-info-wrapper:after{
    width: 30px;
    height: 30px;
    bottom: 5px;
    right: 5px;
  }
  .copy{
    font-size: 16px;
  }
  .footer-bottom-links{
    padding-top: 1px;
  }
  .footer-sites-text{
    font-size: 16px;
  }
  .footer-bottom-links{
    margin-right: 25px;
  }
  .investors-list__item-text-list{
    font-size: 18px;
    line-height: 25px;
  }
  .investors-list-wrapper{
    padding: 25px;
    padding-top: 0px;
  }
  .header-image h1{
    font-size: 120px;
  }
  .providers .carousel-list__item-info{
    height: 75px;
    line-height: 75px;
    font-size: 22px;
    padding-left: 15px;
  }
  .carousel-list__item-bio{
    height: 45px;
    line-height: 45px;
    padding-right: 40px;
  }
  .fancybox-close{
    top: 5px;
    right: 5px;
  }
  .fancybox-skin{
    padding-top: 20px!important;
  }
  .box-form form{
    padding-top: 10px;
  }
  .window-open{
    padding-left: 15px;
    padding-right: 15px;
  }
  .box-form-txt{
    font-size: 18px;
  }
  .window-open .form-control{
    padding-right: 15px;
  }
  .box-form-col{
    padding-right: 15px;
  }
  .box-form-col_right{
    padding-left: 15px;
    padding-right: 0px;
  }
  .content-about-managing-list li{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .content-about-managing-title{
    margin-bottom: 20px;
  }
  .content-about-top h3{
    font-size: 20px;
    margin: 20px 0px;
    line-height: 25px;
    padding: 0px;
  }
  .content-about-top{
    padding: 40px 50px;
  }
  .content-about-top-left{
    padding-right: 400px;
  }
  .content-about-bottom{
    padding: 40px 0px;
  }
  .content-about-info__item{
    padding-left: 200px;
    padding-right: 50px;
  }
  .content-about-info__item-img{
    left: 65px;
  }
  .info-description:before{
    left: 0px;
  }
  .header-menu-list__item{
    margin-left: 50px;
  }
  .info-circle-wrapper{
    width: 750px;
  }
  .info-description-wrapper{
    width: calc(100% - 750px);
  }
  .info{
    padding: 80px 0px;
  }
  h2{
    font-size: 35px!important;
  }
  .services{
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .carousel-right{
    width: 800px;
  }
  .carousel h2{
    line-height: 44px;
  }
  .carousel-list__item-content-wrapper{
    padding: 0px 30px;
  }
  .carousel-list__item-content-text{
    height: 175px;
  }
  .providers .carousel-list__item{
    height: 460px;
  }
  .carousel-list__item-info{
    height: 100px;
    width: 225px;
  }
  p{
    font-size: 18px;
    line-height: 25px;
  }
  .carousel-author{
    font-size: 20px;
  }
  .carousel-list__item-info-name{
    margin-bottom: 5px;
  }
  .relation-list__item{
    padding: 0px 40px;
  }
  .relation-list__item-text{
    line-height: 25px;
    height: 175px;
  }
  .relation{
    padding: 45px 0px;
  }
  .footer-scl{
    width: 32%;
  }
  .footer-top{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .footer-partners-list__item{
    margin-bottom: 15px;
  }
  .footer-partners-list{
    margin-bottom: -15px;
  }
  .carousel{
    padding: 60px 0px;
  }
  .company-list__item{
    max-width: 15%;
  }
  .partners{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .partner-list{
    margin-top: 20px!important;
  }
  .ticker{
    padding-right: 220px;
  }
  .ticker-img{
    width: 220px;
    padding-top: 17px;
  }
  .team-list__item-about{
    width: 68%;
  }
  .team-list__item-image{
    left: 70%;
    width: 28%;
  }
  .team-list__item:nth-child(2n) .team-list__item-image{
    left: auto;
    right: 70%;
  }
  .team-list__item-text{
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 1420px){
  .questions-video video{
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 1279px){
  .altcube-right{
    padding-left: 50px;
    padding-top: 70px;
  }
  .share-box-text span{
    margin-left: 10px;
  }
  .share-box-link{
    margin-left: 10px;
  }
  .share-box-dropdown{
    padding: 0px 10px;
  }
  .main-video:before, .main-video:after{
    width: 325px;
  }
  .main-video-list-wrapper{
    padding-right: 15px;
    padding-left: 15px;
    width: 350px;
    height: calc(100% - 35px);
  }
  .main-video{
    padding-left: 350px;
  }
  .header-menu-list__item{
    margin-left: 30px;
  }
  .main-video-list__item:before{
    top: 39%;
  }
  .providers .carousel-list__item-info:before{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    right: -6px;
    bottom: -6px;
  }
  .providers .carousel-list__item-info:hover:before{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
  }
  .footer-bottom-col{
    width: 100%;
    float: none;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
  }
  .footer-bottom-col:last-child{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
  }
  .footer-bottom-links{
    float: left;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-sites{
    margin-right: 70px;
    float: right;
  }
  .footer-logo{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .copy{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .sites-box-current{
    font-size: 15px;
    min-width: 140px;
  }
  .footer-bottom-links span{
    font-size: 15px;
  }
  .footer-menu{
    padding-left: 50px;
  }
  .copy{
    margin-left: 15px;
    font-size: 15px;
  }
  .footer-bottom-link{
    font-size: 15px;
  }
  .footer-sites-text{
    font-size: 15px;
    margin-right: 5px;
  }
  .investors{
    padding-top: 20px;
  }
  .investors-nav{
    padding-bottom: 20px;
  }
  .investors-list__item-right{
    padding-left: 165px;
  }
  .investors-list__item-text{
    padding-right: 15px;
  }
  .investors-list{
    padding-bottom: 15px;
  }
  .investors-list-wrapper{
    padding: 15px;
    padding-top: 0px;
  }
  .investors-list__item{
    padding: 15px 0px;
  }
  .header-menu.isStuck{
    top: 40px;
  }
  .carousel-list__item-bio{
    font-size: 16px;
    padding-right: 18px;
  }
  .popup-videos-item.active{
    padding-left: 50px;
    padding-right: 50px;
  }
  .providers .carousel-list__item-info{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding-left: 10px;
  }
  .providers .carousel-list__item{
    height: auto;
  }
  .window-open .form-control{
    height: 40px;
  }
  .window-open .box-field:before{
    margin-top: -10px;
  }
  .box-field_text textarea.form-control{
    height: 95px;
    padding-top: 4px;
  }
  .window-open .btn{
    height: 40px;
    line-height: 40px;
  }
  .fancybox-skin{
    padding-top: 15px!important;
  }
  .radio-list{
    padding-top: 15px;
    margin-bottom: 60px;
  }
  .btn_doc{
    max-width: none;
    float: none;
  }
  .box-form-txt{
    float: none;
    width: 100%;
    padding-left: 0px;
    font-size: 16px;
  }
  .fancybox-skin{
    padding-left: 15px!important;
  }
  .radio-list__item{
    margin-bottom: 15px;
  }
  .content-about-top h3{
    padding: 0px 15px;
  }
  .content-about-text{
    padding-left: 15px;
  }
  .contact-btn-wrap .btn{
    width: 317px;
  }
  .team-list__item .wrapper{
    padding: 35px 45px;
  }
  .team-list__item-text{
    margin-top: 15px;
  }
  .team-list__item-name-txt{
    font-size: 35px;
  }
  .team-list__item-position{
      font-size: 23px;
  }
  .header-image h1{
    font-size: 100px;
  }
  .team-list__item-link{
    top: -10px;
  }
  .content-about-top{
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-about-top-left{
    padding-right: 350px;
  }
  header{
    padding-top: 40px;
  }
  .ticker{
    height: 40px;
  }
  .ticker-img{
    height: 40px;
    padding-top: 6px;
  }
  .tickercontainer{
    height: 40px!important;
  }
  .ticker-list, .ticker-list__item{
    height: 40px;
    line-height: 40px;
  }
  .ticker-list__item-text{
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
  .ticker-list__item-text sup{
    font-size: 13px;
    top: -10px;
  }
  .question br{
    display: block;
  }
  .partner-list__item{
    padding: 0px 25px!important;
  }
  .info-circle-wrapper{
    width: 100%;
  }
  .info-circle-item__img{
    display: none;
  }
  .info-description-wrapper{
    position: absolute;
    width: 617px;
    height: 620px;
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -308px;
    padding: 75px;
  }
  .info-description{
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .info-description:before{
    display: none;
  }
  .info-description-btn{
    margin: 0 auto;
  }
  .question{
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .question .btn{
    margin-top: 15px;
  }
  .services-list__item{
    padding: 0px 10px;
  }
  .services-list__item-icon{
    width: 110px;
    height: 110px;
  }
  .carousel h2:before{
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
  }
  .carousel h2{
    padding-left: 10px;
    line-height: 34px;
  }
  .carousel h2:before{
    left: -35px;
    top: -37px;
  }
  .carousel-right{
    width: 500px;
  }
  .carousel-list__item-info-name{
    font-size: 16px;
  }
  .carousel-list__item-info-position{
    font-size: 12px;
  }
  .carousel-list__item-info{
    width: 135px;
    height: 80px;
    bottom: -20px;
  }
  .carousel-list__item-info-wrapper{
    padding: 0px 7px;
    padding-right: 32px;
  }
  .carousel-list{
    margin-left: -22px;
  }
  .carousel-list__item{
    padding-left: 22px;
  }
  .providers .carousel-list__item{
    height: 290px;
  }
  .providers .carousel-list__item{
    padding-right: 22px;
  }
  .providers .carousel-list{
    margin-right: -22px;
  }
  .experts .carousel-list__item{
    display: block;
  }
  .slick-list{
    padding-bottom: 25px;
    margin-bottom: -25px;
  }
  .providers .carousel-list__item-img{
    height: 50px;
  }
  .carousel-list__item-content-wrapper{
    padding: 0px 10px;
  }
  .footer-partners{
    padding-left: 60px;
  }
  .carousel-list__item-content-text{
    font-size: 12px;
    line-height: 20px;
    height: 140px;
  }
  .providers .carousel-list__item-img{
    margin-bottom: 5px;
  }
  .providers .carousel-list .btn{
    margin-top: 10px;
  }
  .relation-list__item{
    padding: 0px 40px;
    width: 40%;
  }
  .relation-list__item_center{
    width: 20%;
    padding: 0px 15px;
  }
  .relation-list__item-img{
    margin-bottom: 5px;
  }
  .relation-list h2{
    line-height: 34px;
  }
  .footer-partners-list__item img{
    max-width: 90%;
  }
  .scl-list{
    padding-right: 0px;
  }
  .contact-txt{
    padding-right: 0px;
  }
  .info .wrapper{
    min-height: auto;
    height: auto;
  }
  .info-circle-item__name{
    display: none;
  }
  .contact-input{
    padding: 0px 15px;
  }
}
@media only screen and (max-width: 991px){
  .whitepaper-block-left{
    padding-right: 0px;
    width: 45%;
  }
  .whitepaper-block-right{
    width: 55%;
  }
  .whitepaper-block-image {
    width: 200px;
    margin: 0 auto;
    float: none;
  }
  .whitepaper-btns .btn {
    display: block;
    margin: 0 auto;
    float: none;
  }
  .altcube-right{
    padding-left: 15px;
    padding-top: 10px;
  }
  .altcube-text{
    margin: 15px 0px;
    line-height: 26px;
  }
  .footer-sites{
    margin-right: 60px;
  }
  .share-box-icon{
    height: 35px;
  }
  .share-box-dropdown{
    height: 35px;
  }
  .share-box-text{
    font-size: 16px;
    line-height: 33px;
  }
  .shr-box{
    top: 19px;
  }
  .video-list-wrapper{
    padding-left: 15px!important;
  }
  .main-video:before, .main-video:after{
    display: none;
  }
  .main-video-list{
    margin-left: -15px;
  }
  .main-video-list__item{
    padding-left: 15px;
  }
  .main-video{
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .main-video-list-wrapper{
    position: static;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  .footer-partners-list__item.ehesive a{
    margin-left: 12px;
  }
  .footer-menu{
    padding-left: 0px;
  }
  .footer-sites-text{
    font-size: 14px;
  }
  .investors-list__item-date{
    font-size: 35px;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 18px;
  }
  .investors-list__item-name{
    font-size: 35px;
    line-height: 30px;
    max-height: 60px;
  }
  .investors-list__item-author{
    font-size: 18px;
    margin-bottom: 15px;
  }
  .investors-list__item-date span{
    font-size: 30px;
  }
  header{
    padding-top: 80px;
  }
  .partners{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .carousel-list__item-bio{
    padding-right: 50px;
  }
  body.menu-stuck{
    padding-top: 0px;
  }
  .header-menu.isStuck{
    background-color: #031e2c;
  }
  .fancybox-wrap{
    width: 90%!important;
    left: 5%!important;
  }
  .fancybox-skin{
    padding-left: 0px!important;
  }
  .contact-txt{
    font-size: 19px;
  }
  .footer-menu-list__link{
    font-size: 18px;
  }
  .copy{
    font-size: 14px;
  }
  .footer-bottom-link{
    font-size: 14px;
  }
  .footer-bottom-links span{
    font-size: 14px;
  }
  .contact-btn-wrap .btn{
    width: 255px;
  }
  .team-list__item .wrapper{
    padding: 20px 25px;
  }
  .team-list__item-link{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    top: -7px;
  }
  .team-list__item-text{
    font-size: 14px;
    line-height: 18px;
  }
  .content-about-info__item{
    padding-right: 0px;
    padding-left: 100px;
    margin-bottom: 30px;
  }
  .content-about-info__item h2{
    margin-bottom: 5px;
  }
  .content-about-info__item-img{
    left: 10px;
  }
  .header-image h1{
    font-size: 80px;
  }
  .content-about-top{
    padding: 30px 0px;
  }
  .content-about-top h3 br{
    display: none;
  }
  .content-about-managing-title{
    font-size: 18px;
  }
  .content-about-top-right{
    width: 260px;
    padding-top: 4px;
  }
  .content-about-top-left{
    padding-right: 300px;
    margin-right: -260px;
  }
  .ticker-list__item-text{
    font-size: 18px;
  }
  .ticker-list__item-text sup{
    font-size: 11px;
    top: -8px;
  }
  .providers .carousel-list__item-img{
    margin-bottom: 15px;
  }
  .providers .carousel-list .btn{
    margin-top: 15px;
  }
  .carousel-list__item-content-wrapper{
    padding: 0px 20px;
  }
  .carousel-list__item-content-text{
    height: 120px;
  }
  .partner-list__item{
    padding: 0px 5px!important;
  }
  .partner-list__item img{
    max-width: 80%;
    margin: 0 auto;
  }
  header{
    position: relative;
  }
  .header-menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    height: auto;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
  }
  .header-menu-wrapper{
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: #031e2c;
    padding: 15px 40px;
    width: 200px;
    right: -305px;
    transition: 0.4s all linear;
    -webkit-transition: 0.4s all linear;
    -moz-transition: 0.4s all linear;
    -o-transition: 0.4s all linear;
    -ms-transition: 0.4s all linear;
    overflow-y: auto;
    padding-top: 30px;
    z-index: 1;
  }
  .header-menu-wrapper.active{
    right: 0px;
  }
  .header-menu-list{
    float: none;
  }
  .header-menu-list__item{
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .header-menu-list__item:last-child{
    margin-bottom: 0px;
  }
  .header-menu-list__link{
    display: inline-block;
    line-height: 18px;
  }
  .mobile-menu-btn{
    display: block;
    width: 34px;
    height: 34px;
    background: rgba(3,30,44,0.5);
    border-radius: 50%;
    float: right;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 10px 10px 0px 10px;
  }
  .mobile-menu-btn span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    margin-bottom: 2px;
  }
  .header-menu-logo{
    padding-top: 11px;
  }
  .header-menu-logo-link{
    display: block;
    width: 75px;
  }
  .menu-close{
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .menu-close span{
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 11px;
    left: 0px;
    background-color: #fff;
  }
  .menu-close span:last-child{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    left: auto;
    right: 0px;
  }
  .question{
    padding-left: 20px;
    padding-right: 20px;
  }
  .services{
    padding-bottom: 30px;
  }
  .services-list__item{
    width: 50%;
    margin-bottom: 25px;
  }
  .carousel-right{
    width: 320px;
  }
  .providers .carousel-list__item{
    height: auto;
  }
  .relation-list__item{
    padding: 0px 15px;
  }
  .relation-list__item{
    width: 33.333%;
  }
  .relation-list__item-img{
    height: 80px;
  }
  .footer-menu{
    width: 17%;
  }
  .footer-partners{
    width: 46%;
    padding-left: 0px;
  }
  .footer-scl{
    width: 34%;
  }
  .footer-partners-title{
    float: none;
    width: 100%;
    padding-left: 20px;
  }
  .footer-partners-list{
    float: none;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0px 20px;
    padding-top: 20px;
  }
  .footer-menu-list{
    float: none;
    width: 100%;
  }
  .footer-menu-list__item{
    margin-bottom: 5px;
    padding-left: 5px;
  }
  .scl-title{
    font-size: 19px;
  }
  .scl-list-link{
    margin-left: 1px;
  }
  .scl-list{
    text-align: center;
  }
  .footer-partners{
    padding-top: 16px;
  }
  .footer-scl{
    padding-top: 20px;
  }
}
@media only screen and (max-width: 767px){
  .whitepaper-btns .btn{
    width: 290px;
    font-size: 12px;
    background-size: 100% 100%;
  }
  .whitepaper-block-left {
    width: 100%;
    float: none;
    padding-top: 0px;
  }
  .whitepaper-block-right {
    width: 100%;
    float: none;
    padding-top: 25px;
  }
  .whitepaper-list__item {
    padding-left: 0px;
    padding-top: 80px;
    margin-bottom: 30px;
  }
  .whitepaper-list__item:before {
    top: 0px;
    left: 50%;
    margin-left: -30px;
  }
  .whitepaper-block-image {
    width: 165px;
  }
  .altcube-right{
    float: none;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .altcube-image{
    float: none;
  }
  .altcube-image img{
    margin: 0 auto;
  }
  .altcube-left{
    float: none;
    width: 100%;
  }
  .share-box-text{
    font-size: 13px;
    display: block;
    text-align: center;
  }
  .share-box-text span{
    display: none;
  }
  .share-box-dropdown{
    width: 100%;
    top: 100%;
    left: 0px;
    white-space: normal;
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px;
    border-top: 0px;
    height: auto;
    border-right: 1px solid #226abf;
  }
  .share-box-icon:before{
    margin-top: -13px;
  }
  .share-box-links{
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  .share-box-link{
    display: block;
    margin: 0 auto;
    margin-bottom: 9px;
  }
  .share-box-link:last-child{
    margin-bottom: 0px;
  }
  .main-video-wrapper:before{
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background-size: 100% 100%;
  }
  .main-video-name{
    font-size: 20px;
  }
  .main-video-list__item-name{
    font-size: 16px;
  }
  .footer-menu-list{
    float: left;
    width: 50%;
    padding-left: 35px;
  }
  .footer-partners-list__item.ehesive a{
    margin-left: 17px;
  }
  .footer-menu-title{
    text-align: center;
  }
  .contact-sbscrb{
    max-width: none;
    width: 100%;
  }
  .fancybox-skin{
    padding-top: 10px!important;
  }
  .popup-videos-item.active{
    padding-left: 30px;
    padding-right: 30px;
  }
  .window-open-bio{
    padding-top: 10px;
  }
  .box-form-col{
    float: none;
    width: 100%;
    padding: 0px;
  }
  .box-form-col_right{
    padding-top: 15px;
  }
  .radio-list{
    margin-bottom: 25px;
  }
  #win_help .btn{
    margin: 0 auto;
    display: block;
  }
  .content-about-top h3{
    padding-left: 0px;
    padding-right: 0px; 
  }
  .content-about-text{
    padding-left: 0px;
  }
  .relation-list__item .btn{
    font-weight: bold;
  }
  .footer-menu-list__link{
    font-weight: bold;
  }
  .footer-partners-title{
    font-weight: bold;
    text-align: left;
    padding-left: 0px;
  }
  .content-about-managing-list:before{
    left: 35px;
  }
  .team-list__item-image{
    position: static;
    width: auto;
    padding-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    background-image: url(../img/team-member-bg.png);
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  .team-list__item:nth-child(2n) .team-list__item-image{
    background-image: url(../img/team-member-bg-1.png);
  }
  .team-list__item .wrapper{
    padding: 0px 15px;
  }
  .team-list__item-text{
    margin-right: -15px;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 15px;
    padding-bottom: 25px;
  }
  .team-list__item:nth-child(2n) .team-list__item-text{
    margin-left: -15px;
    background: transparent;
    color: #031e2c;
  }
  .team-list__item:nth-child(2n) .team-list__item-name-txt{
    color: #031e2c;
    float: none;
  }
  .team-list__item-link{
    display: none;
  }
  .team-list__item:nth-child(2n) .team-list__item-position{
    color: #031e2c;
    text-align: left;
  }
  .team-list__item{
    background-image: none;
  }
  .team-list__item:nth-child(2n){
    background-image: none;
  }
  .team-list__item-about{
    width: 100%;
    float: none;
    padding-top: 20px;
  }
  .team-list__item-image img{
    margin: 0 auto;
    max-width: 250px;
  }
  .content-about-top-left{
    padding-right: 0px;
    margin-right: 0px;
    float: none;
  }
  .content-about-top-right{
    float: none;
    width: 100%;
    padding-top: 15px;
  }
  .header-image h1{
    font-size: 34px;
  }
  .content-about-managing-title{
    margin-bottom: 10px;
    text-align: center;
  }
  .content-about-top h2 br{
    display: none;
  }
  .content-about-managing-list li{
    padding-left: 55px;
  }
  .content-about-managing-list li:before{
    left: 31px;
  }
  .content-about-info__item-text{
    text-align: center;
  }
  .ticker{
    padding-right: 120px;
  }
  .ticker-img{
    width: 120px;
    padding-top: 13px;
  }
  .partner-list__item img{
    max-width: 70%;
  }
  .info-circle:before{
    width: 766px;
    height: 498px;
    left: -50.5%;
    background-size: 100% 100%;
  }
  .info-description-item{
    height: 160px;
    top: -50px;
  }
  .info-circle{
    width: 251px;
    height: 251px;
    background-size: 100% 100%;
  }
  .info-circle-item__icon-wrapper{
    width: 40px;
    height: 40px;
  }
  .info-circle-item__icon-wrapper:before{
    width: 44px;
    height: 44px;
    top: -3px;
    left: -3px;
  }
  .info-circle-item.icomethod .info-circle-item__icon{
    top: -20px;
    margin-left: -20px;
  }
  .info-circle-item__icon-wrapper:after{
    transform: scale(0.58);
    -webkit-transform: scale(0.58);
    -moz-transform: scale(0.58);
    -o-transform: scale(0.58);
    -ms-transform: scale(0.58);
  }
  .info-description-wrapper{
    width: 251px;
    height: 251px;
    margin-top: -125px;
    margin-left: -125px;
    padding: 34px;
  }
  .info-circle-item.ico .info-circle-item__icon{
    margin-top: -20px;
    left: -20px;
  }
  .info-circle-item.tech .info-circle-item__icon{
    right: -20px;
    margin-top: -20px;
  }
  .info-circle-item.about .info-circle-item__icon{
    bottom: -20px;
    margin-left: -20px;
  }
  h1{
    font-size: 26px;
  }
  .info-description-item__text{
    font-size: 14px;
    line-height: 20px;
    max-height: 100px;
    overflow: hidden;
  }
  .info{
    padding-top:53px;
    padding-bottom: 117px;
  }
  .btn{
    width: 219px;
    height: 39px;
    line-height: 39px;
    font-size: 15px;
  }
  .info-description-btn{
    position: absolute;
    left: 50%;
    margin-left: -110px;
    bottom: -126px;
  }
  .questions{
    padding: 25px 0px;
  }
  .question{
    width: 100%;
    float: none;
    padding-left: 60px;
    padding-right: 60px;
  }
  .question h2{
    padding-left: 20px;
    padding-right: 20px;
  }
  .questions-holder:before{
    width: 2px;
    height: 47px;
    left: 50%;
    margin-left: -1px;
    margin-top: -23px;
  }
  .question .btn{
    margin-top: 20px;
  }
  .services{
    padding-top: 37px;
    padding-bottom: 45px;
  }
  .services-list__item{
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
  .services-list__item-icon{
    width: 104px;
    height: 104px;
    margin-bottom: 16px;
  }
  .services-list__item:last-child{
    margin-bottom: 0px;
  }
  .services-list__item-icon:before{
    transform: scale(0.76);
    -webkit-transform: scale(0.76);
    -moz-transform: scale(0.76);
    -o-transform: scale(0.76);
    -ms-transform: scale(0.76);
  }
  .services-list__item-text{
    margin-top: 5px;
  }
  .relation-list{
    padding: 30px 0px;
  }
  .relation-list__item{
    width: 100%;
    margin-bottom: 40px;
  }
  .relation-list__item:last-child{
    margin-bottom: 0px;
  }
  .relation-list__item-img{
    height: auto;
    margin-bottom: 15px;
  }
  .relation-list__item-text{
    margin-bottom: 15px;
    height: auto;
    max-height: 150px;
  }
  .relation-list__item.full .relation-list__item-text {
    max-height: none;
  }
  .companies{
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .company-list__item{
    max-width: 31%;
    margin-bottom: 20px;
  }
  .company-list__item img{
    max-width: 90%;
    margin: 0 auto;
  }
  .footer-menu{
    width: 100%;
    float: none;
  }
  .footer-logo{
    text-align: center;
  }
  .footer-partners{
    width: 100%;
    float: none;
    padding-top: 40px;
  }
  .footer-partners-list{
    padding: 0px;
    padding-top: 20px;
    text-align: left;
  }
  .footer-menu-list:last-child{
    margin-top: 0px;
  }
  .footer-menu-list__item{
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .footer-scl{
    width: 100%;
    float: none;
    padding-top: 40px;
  }
  .contact-txt{
    width: 100%;
    float: none;
    line-height: 22px;
    font-size: 18px;
  }
  .contact-btn-wrap{
    float: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 15px;
    text-align: center;
  }
  .contact-btn-wrap .btn{
    margin: 0 auto;
    width: 219px;
  }
  .footer-top{
    padding-bottom: 40px;
  }
  .footer-bottom{
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .footer-bottom .wrapper{
    padding-top: 5px;
  }
  .footer-bottom-message{
    width: 60px;
    height: 60px;
    top: -30px;
  }
  .footer-bottom-message:before{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
  }
}
@media only screen and (max-width: 639px){
  .footer-sites{
    margin-right: 0px;
  }
  .carousel-text{
    padding-right: 0px;
  }
  .more-videos-btn{
    float: none;
    margin: 0 auto;
  }
  .carousel-text-link{
    padding-bottom: 15px;
  }
  .footer-partners-list__item.ehesive a{
    margin-left: 9px;
  }
  .sites-box-link{
    font-size: 14px;
  }
  .footer-partners{
    padding-top: 20px;
  }
  .footer-menu{
    padding-top: 0px;
  }
  .footer-sites{
    float: none;
  }
  .footer-sites-text{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .sites-box{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .shr-box{
    top: 66px;
  }
  .investors-list__item-text-list{
    font-size: 17px;
  }
  .investors-list__item-left{
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .investors-list__item-right{
    float: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  .investors-list__item-date{
    font-size: 32px;
    line-height: 27px;
    padding: 5px 0px;
    padding-bottom: 3px;
  }
  .investors-list__item-date br{
    display: none;
  }
  .investors-list__item-left-txt{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .investors-list__item-date span{
    font-size: 32px;
    margin-left: 4px;
  }
  .investors-list__item-name{
    font-size: 28px;
    line-height: 28px;
    max-height: 84px;
  }
  .investors-list__item-author{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .investors-list__item-text{
    font-size: 17px;
  }
  .investors-list__item{
    padding-top: 35px;
  }
  .investors-list__item:first-child{
    padding-top: 15px;
  }
  .investors-list__item-text{
    padding-right: 0px;
  }
  .investors-list__more{
    width: 260px;
    font-size: 20px;
  }
  .carousel-list__item-bio{
    display: none;
  }
  .ticker-list__item-text{
    font-size: 16px;
  }
  .ticker-list__item-text sup{
    font-size: 10px;
  }
  .providers .carousel-list .btn{
    width: 150px;
  }
  .carousel{
    padding: 40px 0px;
  }
  .carousel-holder{
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .carousel h2{
    padding-left: 0px;
  }
  .carousel-left{
    width: 100%;
    padding-right: 0px;
  }
  .carousel-right{
    width: 100%;
    padding-left: 0px;
  }
  .carousel-author{
    margin-bottom: 20px;
  }
  .carousel-list__item-info{
    left: 5px;
  }
  .carousel-list{
    margin-left: -15px;
  }
  .carousel-list__item{
    padding-left: 15px;
  }
  .carousel-text{
    margin-top: 5px;
  }
  .providers .carousel-list__item{
    padding-right: 15px;
  }
  .providers .carousel-list{
    margin-right: -15px;
  }
  .providers .carousel-right{
    padding-right: 0px;
    order: 2;
    -webkit-order: 2;
  }
  .providers .carousel-left{
    padding-left: 0px;
  }
  .providers .carousel-list__item-info{
    right: 5px;
  }
  .experts .carousel-left{
    padding-bottom: 0px;
    margin-bottom: 33px;
  }
  .experts .carousel-left:before{
    left: 50%;
    margin-left: -1000px;
  }
  .carousel-list__item-content-wrapper{
    padding: 0px 10px;
  }
  .carousel-list__item-content-text{
    height: 160px;
  }
  .copy br{
    display: block;
  }
  .partner-list__item{
    margin: 0px -30px;
  }
  .partner-list__item img{
    width: 50%;
  }
  .copy{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .footer-bottom .wrapper{
    padding-bottom: 30px;
  }
  .footer-bottom-links{
    width: 100%;
    margin-left: 0px;
    text-align: center;
    float: none;
    margin-bottom: 10px;
  }
  .footer-bottom-links span{
    font-size: 12px;
  }
  .content-about-info__item-img{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    left: 0px;
    top: 0px;
  }
  .content-about-info__item{
    padding-left: 0px;
  }
  .content-about-info__item h2{
    text-align: center;
  }
}
@media only screen and (max-width: 479px){
  .footer-sites-text{
    width: 100%;
    margin-bottom: 7px;
    margin-right: 0px;
  }
  #tawkchat-container{
    bottom: 90px!important;
  }
  .main-video-list__item:before{
    left: 55%;
  }
  .investors-nav-btn span{
    padding-left: 17px;
  }
  .investors-nav-btn.next span{
    padding-right: 17px;
  }
  .investors-nav-btn{
    font-size: 16px;
  }
  .questions-holder:before{
    margin-top: -5px;
  }
  .sort-box{
    margin-bottom: 10px;
    float: none;
  }
  .sort-box-dropdown-link{
    text-align: center;
    padding-left: 0px;
  }
  .search-box{
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 410px){
  .question{
    padding-left: 15px;
    padding-right: 15px;
  }
  .question h2{
    padding-left: 10px;
    padding-right: 10px;
  }
  .scl-list-link{
    margin-right: 5px;
  }
  .carousel-list__item-content-wrapper{
    padding: 0px 25px;
  }
  .carousel-list__item-content-text{
    height: 140px;
  }
}

/* 404 */

.content_box.error404 {
  min-height: 320px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.content_box.error404:before {
  content: "404";
  top: 0;
  left: 50%;
  position: absolute;
  color: rgba(142,142,142,.15);
  font-size: 400px;
  line-height: 320px;
  font-weight: 700;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -sand-transform: translateX(-50%);
}
@media (max-width: 768px) {
  .content_box.error404 {
    min-height: 250px;
  }
  .content_box.error404:before {
    top: -60px;
    font-size: 260px;
  }
}


@media (max-width: 480px) {
  .content_box.error404:before {
    top: -40px;
    font-size: 164px;
  }
}